@model IEnumerable<ApplicationGroupWork.Models.MemberCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLoans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FineAmountPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturningDays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalLoans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FineAmountPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturningDays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberCategoryID })
        </td>
    </tr>
}

</table>
